{% extends 'base.html.twig' %}

{% block body %}

<div class="row index_section4_blog">
      
      <div class="blog1 col-lg-offset-3 col-lg-6 col-lg-offset-3 ">
        
          
       	</div>
</div>


{% endblock %}